@tailwind base;
@tailwind components;
@tailwind utilities;

.px-24 {
    padding-left: 1rem;
    padding-right: 1rem;
}

body{
    background-color: transparent;
}

/* Estilos específicos para pantallas de al menos 768px */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Ocultar desbordamiento horizontal */
}
